/* Kort med login-knapp og tekst */
#loginCard {
    margin: 10vw auto;
    float: none;
    width: 26rem;
}

#loginCard .card-body h5 {
    font-size: 2.4rem;
}

#loginCard .card-body p {
    font-size: 1.7rem;
    color: rgb(100, 100, 100);
}

#loginCard .card-body button {
    font-size: 1.8rem;
}

/* Vellkomstmelding */
#welcomeMessage {
    text-align: center;
    margin-top: 4vh;
    font-size: 4vw;
}

/* Kort med tekst for sikkerhetsvurdering */
#securityTextCard {
    margin: 2vw auto;
    float: none;
    width: 80vw;
}

#securityTextCard .card-header h5 {
    font-size: 11vw;
}

#securityTextCard .card-body p {
    font-size: 7vw;
}

@media screen and (min-width: 420px) {
    #securityTextCard .card-header h5 {
        font-size: 3rem;
    }
    
    #securityTextCard .card-body p {
        font-size: 1.7rem;
    }
}

/* Navbar */
.navbar .navbar-brand {
    font-size: 2rem;
}

.navbar .nav-link {
    font-size: 1.6rem;
}