/* Kort med login-knapp og tekst */
#loginCard {
    margin: 30vh auto;
    float: none;
}

.card-body h5 {
    font-size: 2.4rem;
}

.card-body p {
    font-size: 1.7rem;
    color: rgb(100, 100, 100);
}

.card-body button {
    font-size: 1.8rem;
}

/* Navbar */
.navbar .navbar-brand {
    font-size: 2rem;
}

.navbar .nav-link {
    font-size: 1.6rem;
}

/* Vellkomstmelding */
#welcomeMessage {
    text-align: center;
    margin-top: 6%;
    font-size: 3.4rem;
}